# Test Configuration for Cour-Management Service
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect
  
  # Flyway Configuration for H2
  flyway:
    enabled: true
    baseline-on-migrate: true
    
# Application Configuration
application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000
      refresh-token:
        expiration: 604800000

# Eureka (Disabled for tests)
eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false
